body {
      font-family: "Poppins", sans-serif;
      background-color: #fff;
      color: #333;
      margin: 0;
      padding: 20px;
    }
    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      line-height: 1.6;
      font-size: 16px;
    }
    
    .invoice-box table {
      width: 100%;
      line-height: inherit;
      text-align: left;
      border-collapse: collapse;
    }
    .invoice-box table td {
      padding: 5px;
      vertical-align: top;
    }
    .invoice-box table tr.top table td {
      padding-bottom: 20px;
    }
    .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
    }
    .invoice-box table tr.information table td {
      padding-bottom: 20px;
    }
    .invoice-box table tr.heading td {
      background: #f9f9f9;
      border-bottom: 1px solid #ddd;
      font-weight: 600;
    }
    .invoice-box table tr.details td {
      padding-bottom: 20px;
    }
    .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
    }
    .invoice-box table tr.item.last td {
      border-bottom: none;
    }
    .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: 700;
    }

    @media print {
        #invoice-box, #invoice-box *{
            visibility: visible;
        }
        #invoice-box {
            position: absolute;
            left:0;
            top:0;
            width:100%;
        }
        #invoice-box button {
            visibility: hidden !important;
        }
    }