body {
      font-family: "Poppins", sans-serif;
      background-color: #fff;
      margin: 0; 
      padding: 0;
    }
    .container {
      max-width: 700px;
      margin: 60px auto;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .product-info {
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 8px;
      background-color: #f8f9fa;
    }
    .product-info p {
      margin: 8px 0;
      font-weight: 600;
    }
    label {
      font-weight: 600;
      display: block;
      margin-top: 10px;
    }

    form input {
      width: 97%;
      margin:auto;
      padding: 6px;
      border-radius: 6px;
      border: 1px solid #ccc;
      margin-top: 5px;
    }

    #totalPrice {
      background-color: #e9ecef;
      cursor: not-allowed;
    }
    .btn {
      padding: 10px 20px;
      font-weight: 600;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      color: white;
      background-color: #1877f2;
      margin-top: 15px;
      width: 100%;
    }
    .btn:hover {
      background-color: #0446aa;
    }