* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 120px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}


.product-info {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.product-info p {
  margin: 8px 0;
  font-weight: 600;
}

label {
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

#totalPrice {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.btn {
  max-width: 200px;
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #1877f2;
  margin-top: 15px;
  width: 100%;
}

.btn:hover {
  background-color: #0446aa;
}