<header>
  
  <div class="header-name"> 
    <h1>Inventory</h1>
  </div>
  
<% if (session.userId) {%>
  <div class="header-content">
    <h3>Hello, <%= session.userName ? session.userName : 'Guest' %></h3>
    <a href="/logout" id="logoutBtn" onclick="verify(event)" class="btn2 btn2-secondary">Logout</a>
  </div>
<% } else { %>
    <div class="header-content">
    <a href="/login" class="btn2 ">Sign In</a>
    <a href="/signup" class="btn2 btn2-secondary">Sign Up</a>
  </div>
<% } %>
</header>

<script>
  function verify(event){
 if (!confirm('Are you sure you want to Log out?')){
  event.preventDefault();
  return;
  }};
 </script>