<div class="sidebar">
  <p><a href="/products" class="<%= activePage === 'products' ? 'active' : '' %>">My Products</a></p>
  <p><a href="/orders" class="<%= activePage === 'orders' ? 'active' : '' %>">Order</a></p>
  <p><a href="/transactions" class="<%= activePage === 'transactions' ? 'active' : '' %>">My Transactions</a></p>
  </div>