body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-section {
  background: #ffffff;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 350px;
  text-align: left;
}

p {
  margin-bottom: 1.5rem;
}

.form-label {
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.forgot-password {
  display: block;       
  margin-bottom: 1rem;  
  font-size: 0.9rem;    
  text-decoration: none; 
  color: #1877f2;       
}

.toggle-text {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.toggle-text a {
  color: #1877f2;
  text-decoration: none;
}
