* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

h2 {
  color: #000000;
}

p {
  color: #555;
}



/* BUTTON */
.btn {
  width: 100%;
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #0446aa;
}


/*FEEDBACK*/
.feedback {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

input.error {
  border-color: red;
}


/*TOGGLE DIV*/
.invisible {
  display: none !important;
}