* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

h2 {
  color: #000000;
}

p {
  color: #555;
}



/* BUTTON */
.btn {
  width: auto;
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #0446aa;
}


/*FEEDBACK*/
.feedback {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

input.error {
  border-color: red;
}


.product-container {
    width: 90%;
    margin: 2rem auto;
}



/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 200px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #aaa;
    padding: 5px;
}
.dropdown-menu a {
    display: block;
    padding: 5px;
}
.dropdown-menu .danger {
    color: red;
}

.form-box {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}