 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }

 body {
     background-color: white;
     line-height: 1.6;
 }

 .container {
     max-width: 1140px;
     margin: 0 auto;
     padding: 60px 20px;
 }

 .sectionHeader {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 2rem;
 }

 h1 {
     font-size: 2rem;
     font-weight: 700;
     color: #333;
 }

 .btn {
     background-color: #1877f2;
     color: white;
     font-size: 1rem;
     font-weight: 600;
     padding: 0.75rem 1.25rem;
     border: 1px solid #ccc;
     border-radius: 6px;
     cursor: pointer;
     text-decoration:none;
 }

 .btn:hover {
     background-color: #0446aa;
     transform: translateY(-2px);
 }

 .btnSecondary {
     background-color: #fff;
     color: black;
 }

 .btnSecondary:hover {
     background-color: #eee;
 }

 #ordersTable {
     width: 100%;
     border-collapse: separate;
     border-spacing: 0;
     border: 1px solid #ccc;
     border-radius: 12px;
     overflow: hidden;
 }

 #ordersTable th,
 #ordersTable td {
     padding: 12px;
     text-align: left;
     border-bottom: 1px solid #ddd;
 }

 #ordersTable th {
     background-color: #f9f9f9;
     font-weight: 600;
 }

 #ordersTable tr:last-child td {
     border-bottom: none;
 }

 #ordersTable tr:hover {
     background-color: #f5f5f5;
 }


