footer {
  text-align: center;
  background-color: #0a3063; 
  padding: 20px 0; 
  font-size: 0.9rem;
  border-top: 1px solid #e0e0e0; 
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box; 
}

footer p{
    color: white;
}