* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-section {
  background: #ffffff;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 350px;
  text-align: left;
}

h2 {
  color: #000000;
}

p {
  color: #555;
  margin-bottom: 1.5rem;
}

.form-label {
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.toggle-text {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.toggle-text a {
  color: #1877f2;
  text-decoration: none;
}


/* BUTTON */
.btn {
  width: 100%;
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #0446aa;
}


/*FEEDBACK*/
.feedback {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

input.error {
  border-color: red;
}
